@use 'variables' as v;

@mixin transition {
  transition: all 0.3s ease;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin btn-primary {
  background-color: v.$primary-color;
  color: v.$light-color;
  border-radius: v.$border-radius;
  padding: v.$spacing-sm v.$spacing-md;
  border: none;
  cursor: pointer;
  @include transition;

  &:hover {
    opacity: 0.85;
  }
}
